body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-group {
  display: flex;
  gap: 10px;
}

#meetingScreen {
  display: none;
  height: 100vh;
}

.top-bar {
  background: #020617;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  gap: 12px;
  padding: 12px;
}

.video-box {
  text-align: center;
}

video {
  width: 420px;
  height: 320px;
  background: black;
  border-radius: 10px;
}

#analytics {
  flex: 1;
  background: #020617;
  border-radius: 10px;
  padding: 10px;
}

.danger {
  background: #dc2626;
  color: white;
}
